<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shanidev.zesapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zesapp" >
        <activity
            android:name="com.shanidev.blissDB.DashBoard"
            android:exported="false"
            android:theme="@style/Theme.ZesApp.NoActionbar"/>
        <activity
            android:name=".Log_In"
            android:exported="false"
            android:theme="@style/Theme.ZesApp.NoActionbar" />
        <activity
            android:name=".Sign_Up"
            android:exported="false"
            android:theme="@style/Theme.ZesApp.NoActionbar" />
        <activity
            android:name=".OnBoarding"
            android:exported="false"
            android:theme="@style/Theme.ZesApp.NoActionbar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ZesApp.NoActionbar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>